
body {
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    color: black;
}

.allergy{
    font-weight: bold;
}

.burger:hover{
    background-color: red;
}

button:hover{
    cursor: pointer;
}


#prodInfo{
    background-color: black;
    color: white;
}

#custInfo{
    
}
