
body {
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    color: yellow;
}

.ingredients{
    color: red;
    font-style: italic;
}

#gluten{
    font-weight: bold;
}
