
body {
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    color: black;
}

.allergy{
    font-weight: bold;
}

burger{
    width: 10vw;
}

.burger:hover{
    background-color: red;
}

button:hover{
    cursor: pointer;
}

button{
    margin: 5px;
}

table{
    width: 50%;
    margin: 0 auto;
}

section{
    margin: 10px;
    padding: 10px;
}


html{
    margin: 10px;
}

#header{
    margin: auto;
    height: 30vh;
    overflow: hidden;
}
#prodInfo{
    background-color: black;
    color: white;
    border: 2px dashed white;
}

#custInfo{
    border: 2px dashed black;
}

#mainPic{
    width: 100%;
    height: auto;
    opacity: 0.7;
}

#mainHeading{
    position: absolute;
    margin-top: -300px;
    margin-left: 400px;
}


.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 400px 400px 400px;
     background-color: black;
     color: white;
 }

 .box {
     background-color: black;
     color: white;
     padding: 20px;

 }

                     
